name: Run dd-javac-plugin tests

on:
  push:
    branches:
      - '*'

jobs:
  run-tests:
    name: run-unit-tests
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
      - name: Set up JDK 8
        uses: actions/setup-java@v2
        with:
          java-version: "8"
          distribution: "adopt"
      - name: run-unit-tests
        run: ./gradlew test
